<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_7d2dModEdit.Properties.WindowView" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="_7d2dModEdit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <_7d2dModEdit.Properties.Settings>
            <setting name="ModTagSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="GameFolderModDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DoLogTimestampOnSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoMoveMod" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoMoveDecisionMade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeChildrenSearchTreeTooltip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeCommentsSearchTreeTooltip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeAllModsObjectTreeAttributes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreAllAttributesCheckbox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDarkModeActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingIsMediumModeActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsLoadedModsCenterViewComboBoxEditable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsLoadedModsSearchViewComboBoxEditable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsUseLegacyFormatCheckBox" serializeAs="String">
                <value>False</value>
            </setting>
        </_7d2dModEdit.Properties.Settings>
    </userSettings>
</configuration>